
{{- $section := .Site.GetPage "section" .section -}}
{{ $overlay := newScratch }}
{{ $overlay.Set "overlay" ($section.overlay | default true) }}

{{- range .pages }}
    {{ $page := . }}
    {{ $image := (partial "funcs/get_image.html" .) }}
    {{ with $image }}
    {{ $filled := $image.Fill "250x289 Center" }}
    <li class="list-item {{ $page.Site.Params.aesthetics.thumbShape }}"
            data-tags="{{ range $page.Params.tags }}{{ . | urlize}} {{ end }}"
            style="background-image: url({{ $filled.Permalink }});"
        >
        {{ if $overlay.Get "overlay" }}
        <a href="{{ $page.Permalink }}" >
            <div class="list-overlay list-overlay-{{ $page.Site.Params.aesthetics.thumbShape }}">
                <div class="list-item-content ">
                    <h2>{{ $page.Title | markdownify | safeHTML }}</h2>
                </div>
            </div>
        </a>
        {{ end }}
    </li>
    {{ end }}
{{- end }}
