{{- range . }} 
    <li class="list-item {{ .Site.Params.aesthetics.thumbShape }}"
            data-tags="{{ range .Params.tags }}{{ . | urlize}} {{ end }}"
            {{ $image := (partial "funcs/get_image.html" .) }}
            {{ $image := $image.Fill "250x289 Center" }}
            style="background-image: url({{ $image.Permalink }});"
        >
        <a href="{{ .Permalink }}" >
            <div class="list-overlay list-overlay-{{ .Site.Params.aesthetics.thumbShape }}">
                <div class="list-item-content ">
                    <h2>{{ .Title | markdownify | safeHTML  }}</h2>
                </div>
            </div>
        </a>
    </li>
{{- end }}
