
<a href="{{ .RelPermalink}}" style="text-decoration: none;">
    <div class="uk-card uk-card-secondary uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid
    {{ with .Params.color }}style="background-color: {{.}};" {{ end }}
    >
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            {{ $image := .Resources.Get .Params.image }}
            {{ $image := $image.Resize "x660" }}
            <img src="{{ $image.Permalink }}" alt="" uk-cover>
            <canvas height="360"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title uk-heading-bullet">{{ .Params.author | default .Params.Title }}</h3>
                <p>{{ .Summary  | safeHTML }}</p>
            </div>
            {{ with .Params.social_media }}
            <div class="uk-card-footer uk-text-right">
                    {{ range . }}
                        <a href="{{ .link }}" target="_blank" class="uk-icon-button" uk-icon="{{ .icon }}" 
                            {{ with .text }} aria-label="{{ . }}" {{end}}></a>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</a>