<div class="uk-container uk-container-small">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column  uk-margin-small">
        {{- range . }}
            <div class="card"
                data-tags="{{ range .Params.tags }}{{ . | urlize}} {{ end }}">
                <div class="left image-shape">
                    <div class="border {{ .Site.Params.aesthetics.thumbShape }}">
                        <div class="shape {{ .Site.Params.aesthetics.thumbShape }}" 
                            {{ $image := .Resources.Get .Params.image }}
                            {{ $image := $image.Resize "x360" }}
                            style="background-image: url({{ $image.Permalink }});">
                        </div> 
                    </div> 
                </div>
                <a href="{{ .RelPermalink}}" >
                    <div class="right uk-padding uk-box-shadow-large uk-box-shadow-hover-xlarge">
                        <h1 class="uk-heading-divider">{{ .Title }}</h1>
                        <div class="uk-grid">
                            {{ if isset .Params "date" }}
                                <div class="uk-width-1-4">
                                    <h5>{{ .Date.Format "Jan 02, 2006" }}</h5>
                                </div>
                            {{ end }}
                            <div class="uk-width-expand">
                                <p>{{ .Summary  | safeHTML }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{- end }}
    </div>
</div>