<!-- CSS -->  
{{ $site := resources.Get "igloo-site.scss" }}
{{ $theme := resources.Get "igloo-theme.scss" }}

{{ $colors := resources.Get "igloo-colors.scss" }}
{{ $colors := $colors | resources.ExecuteAsTemplate "colors.scss" . }}

{{ $scss := slice $colors $theme $site | resources.Concat "bundle.scss" }} 

{{ with $scss | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" 
    integrity="{{ .Data.Integrity }}" 
    crossorigin="anonymous">
{{ end }}

<!-- frontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">

<!-- highlight.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<!-- uikitjs -->
{{ with resources.Get "uikit/dist/js/uikit.min.js" }}
    <script src="{{ .RelPermalink }}"></script>
{{ end }}
{{ with resources.Get "uikit/dist/js/uikit-icons.min.js" }}
    <script src="{{ .RelPermalink }}"></script>
{{ end }}

<!-- font awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-k6Rqe5g0pSv8V0e6fFfFjW1y77vKTjkE1IUaB+MHUO2GtODX6azbMqa6Y53/zJTU" crossorigin="anonymous">
