<link rel="icon" href="{{ `favicon/favicon.ico` | absURL }}" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ `favicon/apple-touch-icon.png` | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ `favicon/favicon-32x32.png` | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ `favicon/favicon-16x16.png` | absURL }}">
<link rel="manifest" href="{{ `favicon/site.webmanifest` | absURL }}">
<link rel="mask-icon" href="{{ `favicon/safari-pinned-tab.svg` | absURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<!-- generics -->
<link rel="icon" href="{{ `favicon/favicon-32.png` | absURL }}" sizes="32x32">
<link rel="icon" href="{{ `favicon/favicon-57.png` | absURL }}" sizes="57x57">
<link rel="icon" href="{{ `favicon/favicon-76.png` | absURL }}" sizes="76x76">
<link rel="icon" href="{{ `favicon/favicon-96.png` | absURL }}" sizes="96x96">
<link rel="icon" href="{{ `favicon/favicon-128.png` | absURL }}" sizes="128x128">
<link rel="icon" href="{{ `favicon/favicon-192.png` | absURL }}" sizes="192x192">
<link rel="icon" href="{{ `favicon/favicon-228.png` | absURL }}" sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="{{ `favicon/favicon-196.png` | absURL }}">

<!-- iOS -->
<link rel="apple-touch-icon" href="{{ `favicon/favicon-120.png` | absURL }}" sizes="120x120">
<link rel="apple-touch-icon" href="{{ `favicon/favicon-152.png` | absURL }}" sizes="152x152">
<link rel="apple-touch-icon" href="{{ `favicon/favicon-180.png` | absURL }}" sizes="180x180">

<!-- Windows 8 IE 10 -->
<meta name="msapplication-TileColor" content="#ffff">
<meta name="msapplication-TileImage" content="{{ `favicon/favicon-144.png` | absURL }}">

<!-- Windows 8.1 + IE11 and above -->
<meta name="msapplication-config" content="{{ `favicon/browserconfig.xml` | absURL }}" />