{{ $data := newScratch }}
{{ $data.Set "color" "custom.scss" }}

{{ with .Site.Params.aesthetics.primary }}
    {{ $data.Set "color" . }}
{{ else }}
    {{ $col := index .Site.Data.colors (.Site.Params.aesthetics.design | default "icicle" ) }}
    {{ $data.Set "color" $col }}
{{ end }}

{{- $sizes := slice
    (dict "size" "16x16")
    (dict "size" "32x32")
    (dict "size" "57x57")
    (dict "size" "76x76")
    (dict "size" "96x96")
    (dict "size" "128x128")
    (dict "size" "120x120" "rel" "apple-touch-icon" )
    (dict "size" "150x150")
    (dict "size" "152x152" "rel" "apple-touch-icon" )
    (dict "size" "144x144")
    (dict "size" "180x180" "rel" "apple-touch-icon")
    (dict "size" "192x192")
    (dict "size" "196x196" "rel" "shortcut icon")
  }}

{{- $faviconName := .Site.Params.favicon | default "favicon.png"  }}
{{- $favicon := resources.Get $faviconName }}
{{- range $sizes }}
    {{- $img := $favicon.Resize .size }}
    {{ if eq .size "144x144" }}
        <meta name="msapplication-TileImage" 
            content="{{ $img.RelPermalink }}">
    {{ else if eq .size "32x32" }}
        {{ $ico := $img.Content | resources.FromString "/favicon.ico" }}
        <link rel="shortcut icon" href="{{ $ico.Permalink }}" type="image/x-icon">
    {{ end }}
    <link
        rel="{{ default `icon` .rel }}"
        href="{{ $img.RelPermalink }}"
        sizes="{{ .size }}"
        type="{{ $img.MediaType }}"
    />
{{- end }}
<meta name="msapplication-TileColor" content="{{ $data.Get "color" }}">
<meta name="theme-color" content="{{ $data.Get "color" }}">
<meta name="msapplication-TileColor" content="{{ $data.Get "color" }}">
