{{ $img := newScratch }}

{{ $img.Set "image" $.Site.Params.aesthetics.logo }}
{{ $img.Set "func" "assets" }}

{{ with .Resources.ByType "image" }}
  {{ $img.Set "image" (index . 0) }}
  {{ $img.Set "func" "local" }}
{{ end }}
{{ with .Params.image }}
  {{ $img.Set "image" . }}
  {{ $img.Set "func" "local" }}
{{ end }}

{{ $image := $img.Get "image" }}
{{ $isRemote := strings.HasPrefix (printf "%s" $image) "http" }}

{{ if $isRemote }}
  {{ $img.Set "img" (resources.GetRemote (printf "%s" $image)) }}
{{ else if eq ($img.Get "func") "assets" }}
  {{ $img.Set "img" (resources.Get $image) }}
{{ else if eq ($img.Get "func") "local" }}
  {{ $localImagePath := printf "**%s" $image }}
  {{ with .Resources.GetMatch $localImagePath }}
    {{ $img.Set "img" . }}
  {{ else }}
    {{ warnf "No local image found: %s" $localImagePath }}
    {{ $img.Set "img" (resources.Get $.Site.Params.aesthetics.logo) }}
  {{ end }}
{{ end }}

{{ return ($img.Get "img") }}
