{{ $form := .Site.Params.dateFormat | default "Jan 02, 2006" }}
{{ with .date }}
  {{ $date := . }}
  <div class="timeline-date">
    {{ dateFormat $form . }}
  </div>
{{ end }}
  <div class="timeline-dot"></div>
  <div class="timeline-content ">
      {{ $isRemote := strings.HasPrefix .image "http" }}
      {{ $img := newScratch }}

      {{ if $isRemote }}
        {{ $img.Set "image" (resources.GetRemote .image) }}
      {{ else }}
      {{ $imgs := printf "**%s" .image }}
      {{ $localImage := .Resources.GetMatch $imgs }}
        {{ if $localImage }}
            {{ $img.Set "image" $localImage }}
        {{ else }}
          {{ warnf "No local image found: %s" $imgs }}
        {{ end }}
      {{ end }}
      {{ $image := $img.Get "image" }}
      {{ $image := $image.Process "fit 400x400" }}
      {{ with $image }}
        <div class="timeline-img" 
            style="background: url('{{ .Permalink }}') center no-repeat;"
        ></div>
      {{ end }}
    <h2>{{ .title | markdownify | safeHTML }}</h2>
    {{ with .summary }}<p>{{ . | markdownify | safeHTML  }}</p>{{ end }}
    <div class="uk-flex uk-flex-between uk-flex-middle ">
      {{ if .url }}
        <a class="btn-more" href="{{ .url }}">
          {{ .button | default "More" }}
        </a>
      {{ end }}
    
      {{ with .tags }}
        <span class="uk-text-right">
          {{ range . }}
           {{ $tag := lower . | urlize }}
            {{ with $.Site.Taxonomies.tags.Get $tag }}
              <a href="{{ $.Site.BaseURL }}tags/{{ . }}" class="uk-label timeline-tags">
                {{ .Name }}
              </a>
            {{ else }}
                <div class="uk-label timeline-tags">{{ $tag }}</div>
            {{ end }}
          {{ end }}
        </span>
      {{ end }}
    </div>
  </div>