<div class="timeline-item">
    <div class="timeline-img"></div>
    <div class="timeline-content js--fadeInLeft">
      {{ $form := .Site.Params.dateFormat | default "Jan 02, 2006" }}
      {{ with .date }}
        {{ $date := . }}
        <div class="date">
          {{ dateFormat $form . }}
        </div>
      {{ end }}
        {{ $isRemote := strings.HasPrefix .image "http" }}
        {{ $img := newScratch }}

        {{ if $isRemote }}
          {{ $img.Set "image" (resources.GetRemote .image) }}
        {{ else }}
        {{ $imgs := printf "%s%s" $.Section (.image | relURL) }}
        <p>Image: {{ $imgs }}</p>
        {{ $localImage := .Resources.GetMatch $imgs }}
          {{ if $localImage }}
              <p>Local Image Found: {{ $localImage.Name }}</p>
              {{ $img.Set "image" $localImage }}
          {{ else }}
              <p>No Local Image Found</p>
          {{ end }}
        {{ end }}
        {{ $image := $img.Get "image" }}
        {{ $image := $image.Process "fit 400x400" }}
        {{ with $image }}
          <div class="timeline-img-header" 
              style="background: url('{{ .Permalink }}') center no-repeat;"
          ></div>
        {{ end }}
      <h2>{{ .title | markdownify | safeHTML }}</h2>
      {{ with .summary }}<p>{{ . | markdownify | safeHTML  }}</p>{{ end }}
      <div class="uk-flex uk-flex-between uk-flex-middle ">
        {{ if .url }}
          <a class="bnt-more" href="{{ .url }}">
            {{ .button | default "More" }}
          </a>
        {{ end }}
      
        {{ with .tags }}
          <span class="uk-text-right">
            {{ delimit . ", " }}
          </span>
        {{ end }}
      </div>
      
    </div>
</div> 