{{ define "main" }}
{{ $data := newScratch }}
{{ $data.Set "image" ( $.Site.Params.logo | relURL ) }}
{{ if isset .Params "image" }}
{{ $data.Set "image" .Params.logo}}

    {{ $image := .Resources.Get .Params.image }}
    <meta property="og:image" content="{{ $image.Permalink | absURL }}" />
    <meta property="og:image" content="https://drmowinckels.github.io/images/theme.png">

{{ else }}
    <!-- Use a default OG image -->
    <meta property="og:image" content="{{ .Site.Params.logo | absURL }}" />
{{ end }}
{{ $data.Get "image" }}

    <article class="uk-article">
        <h1 class="uk-article-title">{{ .Title }}</h1>
        <div class="uk-article-meta">
            <h3 class="uk-margin-top-small">
                {{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}
            </h3>
            {{ with .GetTerms "tags" }}
                <div class="uk-flex uk-flex-wrap uk-flex-right">
                    {{ range . }} 
                        {{ $url := .RelPermalink }}
                        {{ $lastFolder := last 2 (split $url "/") }}
                        {{ $lastFolder := index $lastFolder 0 }}
                        {{ $sect := index .Site.Taxonomies .Section }}
                        {{ $tag := slice (index $sect $lastFolder ) }}
                        <div class="uk-card uk-margin-left uk-margin-bottom">
                            <a href="{{ .RelPermalink }}" class="uk-label uk-label-secondary tags" >
                                {{ .LinkTitle }}
                            </a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        {{ .Content }}
    </article>
    <!-- End post content -->
    {{ partial "comments.html" . }}
{{ end }}
