{{ define "main" }}
    <div class="uk-container uk-margin-top uk-markdown">
        {{ .Content }}
    </div>

    <div class="uk-container uk-margin">
        <div class="uk-flex uk-flex-wrap uk-flex-around">
            {{ range .Pages }} 
                {{ $url := .RelPermalink }}
                {{ $lastFolder := last 2 (split $url "/") }}
                {{ $lastFolder := index $lastFolder 0 }}
                {{ $sect := index .Site.Taxonomies .Section }}
                {{ $tag := slice (index $sect $lastFolder ) }}
                <div class="uk-card uk-margin-left uk-margin-bottom">
                    <a href="{{ .Permalink }}" class="uk-label uk-text-default tags" >
                        {{ .Title }}
                        <span class="uk-badge counter">{{ len (index (index $tag 0).Pages) }}</span>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
