
@import "igloo-theme.scss";

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables.scss";
@import "uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.

@mixin hook-navbar-misc() {
  .uk-navbar-container {
    border-bottom: 1px solid $primary;
    letter-spacing: .1rem;
  }

  .uk-navbar-nav {
    a {
     font-weight: 300;
     font-size: .9rem;
    }
 }
}

@mixin hook-article-meta() {
  margin-bottom: 60px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

@mixin hook-card-secondary(){
  color: lighten($primary, 90%);
}

@mixin hook-button(){
  font-family: $base-heading-font-family;
  font-size: 1.2rem;
}

@mixin hook-navbar-dropdown-nav(){
  a{
    color: darken($primary, 25%) !important;
  }
}

// 4. Import UIkit.
@import "uikit/src/scss/uikit.scss";

$size: 200px;  // size
$margin: 4px;  // margin

html {
  scroll-behavior: smooth;
}

.image-shape {
  width: $size;
  height: $size;
  margin: $margin;
  display: inline-block;

  .border {
    position: absolute;
    width: $size;
    height: $size;
    background: $global-color;
    $size2: calc(#{$size} * 0.99) ;

    .shape {
      position: absolute;
      top: 1px;
      left: 1px;
      right: 2px;
      bottom: 1px;
      background: $global-background;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }

    .hexagon {
      height: calc(#{$size2} * 1.1547) !important;
    }
  }
}

.list-grid{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  --s: #{$size} ; /* size  */
  --m: #{$margin};  /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);

.list-container{
  font-size: 0 ; /* Disable white space between inline block elements */
  text-align: center;

  &::before{
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),#000 0 var(--f));
  }

  .list-item {
    min-width: 0;
    width: $size;
    height: $size;
    margin: $margin;
    display: inline-block;
    font-size: initial;
  }

  .hexagon {
    margin-bottom: calc(#{$margin} - #{$size} * 0.2885);
  }
  .circle {
    margin-bottom: calc(#{$margin} - #{$size} * 0.1);
  }
}

.list-overlay-circle{
  border-radius: 50%;
}

.list-container-hexagon ,
.list-container-circle{
  text-align: unset;

  &::before{
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(
      #0000 0 calc(var(--f) - 3px),
      #000 0 var(--f)
    );
  }
  padding-bottom: calc(#{$margin} - #{$size} * 2);
}

.list-overlay{
  position: relative;
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.9) 45%, 
    rgba(0, 0, 0, 0.9) 55%, 
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.3s ease; /* Add a transition for smooth opacity change */

  &:hover  {
    opacity: .9; /* Show overlay with full opacity on hover */
  }
}

.list-item-content {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;

  h2 {
    color: #fff;
    font-size: 1.5em;
    z-index: 1;
  }

  p {
    text-transform: uppercase;
    z-index: 1;
  }
}
}

.circle {
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
}

.bevel {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.rabbet{
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.hexagon {
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  height: calc(#{$size} * 1.1547) !important;
}

.octagon {
  -webkit-clip-path: polygon(29.29% 0%, 70.71% 0%, 100% 29.29%, 100% 70.71%, 70.71% 100%, 29.29% 100%, 0% 70.71%, 0% 29.29%);
  clip-path: polygon(29.29% 0%, 70.71% 0%, 100% 29.29%, 100% 70.71%, 70.71% 100%, 29.29% 100%, 0% 70.71%, 0% 29.29%);
}


.card-post {  
  min-height: 500px;
  max-height: 600px;
  margin-top: 120px;
  margin-bottom: unset;

  .image {
    position: relative;
    top: 100px;
  }

  .content{
    position: relative;
    width: 75%;
    bottom: 330px;

    h1, p {
      color: $global-color;
    }
    h5 {
      color: $global-emphasis-color;
    }
  }

  @media (max-width: $breakpoint-medium) {
    min-height: unset;
    max-height: unset;
    margin-top: unset;

    .image {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .content {
      width: unset;
      top: -160px;

      h1 {
        margin-top: 200px;
      }
    }
  }
}

.banner {
  height: 160px !important;
  background-color: darken($primary, 25%);
  overflow: hidden;

  h1 {
    font-size : 7rem;
    font-weight : 800;
    text-transform : uppercase;
    color: darken($primary, 15%);
    margin-left: 20px;
    margin-top: 30px !important;
  }
  a {
    h1 {
      &:hover {
        color: darken($primary, 10%);
        // Add any other styles you want for the hover effect
      }
    }
  }
  .banner-top{
    h1{
      margin-top: 40px !important;
      font-size : 9rem;
    }
  }

  @media (max-width: $breakpoint-small) {
  }
}

.section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 120px !important;
}

.home{
  height: 90vh !important;

  h1 {
    margin-top: 20px;
    font-size : 6rem;
    font-weight : 600;
    letter-spacing: .5rem;
    text-transform : none;
    color: lighten($primary, 8%);
  }
  h2 {
    font-size : 2rem;
    font-weight : 400;
    letter-spacing: .3rem;
    color: lighten($primary, 8%);
  }
  @media (max-width: $breakpoint-medium) {

    h1 {
      font-size : 4rem;
    }
  }
  h2 {
    font-size : 1.5rem;
  }
}

.footer {
  position: relative;

  color: desaturate(lighten($emphasis, 20%), 40%);
  height: 50vh !important;
  
  h3{
    margin-top: 20px;
    color: desaturate(lighten($emphasis, 20%), 40%);
  }

  .footer-title{
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden !important;

    h1 {
      margin-bottom: -40px;
    }
  }
}

.tags {
  &:hover{
    text-decoration: none;
    color: invert($global-color);
  }
  .counter{
    top: -8px;
    font-size: 1rem;
    position: absolute; 
  }
}


/* Styles for screens up to 768px wide (small screens) */
@media (max-width: $breakpoint-small) {
  /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 992px (medium screens) */
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  /* Your styles for medium screens go here */
}

/* Styles for screens between 992px and 1200px (large screens) */
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  /* Your styles for large screens go here */
  .banner h1 {
    margin-top: 0px;
  }
}

/* Styles for screens larger than 1200px (extra-large screens) */
@media (min-width: $breakpoint-large) {
  /* Your styles for extra-large screens go here */
}

.timeline {

  position: relative;

  &::before {
    content: '';
    background: $primary;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {

    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent $emphasis transparent transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: $emphasis;

  p{
    color: $muted;
  }
  h2 {
    color: lighten($muted, 10%);
  }
  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent $emphasis;
  }

  a {
    background: $primary;
    color: $global-muted-background;
    padding: 8px 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
  
    &:hover, &:active, &:focus {
      background: darken($primary, 10%);
      text-decoration: none;
    }
  
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
  color: $muted;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {
  .timeline-img-header {
      background-size: cover;
    }
}

.timeline-img-header {

  height: 200px;
  position: relative;
  margin-bottom: 20px;

  h2 {
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

blockquote {
  margin-top: 30px;
  color: $global-link-color;
  border-left-color: $primary;
  padding: 0 20px;
}

.date {
  background: $global-inverse-background;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {

  .timeline {

    &::before {
      left: 50px;
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline-item {

      &:nth-child(even) {

        .timeline-content {
          float: none;

        }
      }

      &:nth-child(odd) {

        .timeline-content {
          
          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent $emphasis transparent transparent;
          }
        }

      }
    }
  }
}
