
$icicle:   #0e9bc0;
$lollipop: #e5acb6;
$mint:     #5bb899;
$moss:     #558B71;
$paper:    #666666;
$plum:     #9b3c6c;
$poppy:    #aa372f;
$violet:   #7a6d9e;
$water:    #5d87a8;

{{ with .Site.Params.aesthetics.primary }}
    $primary: {{.}};    
{{ else }}
    $primary: ${{ .Site.Params.aesthetics.design | default "icicle" }};    
{{ end }}

{{ with .Site.Params.aesthetics.secondary }}
    $secondary: {{.}};    
{{ else }}
    $secondary: darken($primary, 30%);
{{ end }}

