{{ with .Site.Params.aesthetics.primary }}
    $primary: {{.}};    
{{ else }}
    $primary: {{ index .Site.Data.colors (.Site.Params.aesthetics.design | default "icicle" ) }};    
{{ end }}

{{ with .Site.Params.aesthetics.secondary }}
    $secondary: {{.}};    
{{ else }}
    $secondary: darken($primary, 20%);
{{ end }}

