
{{ with .Site.Params.aesthetics.primary }}
    $primary: {{.}};    
{{ else }}
    $primary: {{ index .Site.Data.colors (.Site.Params.aesthetics.design | default "icicle" ) }};    
{{ end }}

{{ with .Site.Params.aesthetics.secondary }}
    $secondary: {{.}};    
{{ else }}
    $secondary: desaturate(complement($primary), 20%);
{{ end }}

{{ with .Site.Params.aesthetics.muted }}
    $muted: {{.}};    
{{ else }}
    $muted: lighten(desaturate($primary, 10%), 50%);
{{ end }}

{{ with .Site.Params.aesthetics.emphasis }}
    $emphasis: {{.}};    
{{ else }}
    $emphasis: darken($primary, 10%);
{{ end }}


{{ with .Site.Params.aesthetics.inverse }}
    $inverse: {{.}};    
{{ else }}
    $inverse: invert($primary);
{{ end }}

