<article class="uk-article">
    <div class="uk-grid uk-flex-top" uk-grid>
        <!-- Image Section -->
        <div class="uk-width-1-4@s">
          {{ $image := (partial "funcs/get_image.html" .) }}
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="uk-border-rounded">
          {{ with .Params.social_media }}
              <div class="uk-text-right">
                  {{ range . }}
                      {{ partial "social-media.html" . }}
                  {{ end }}
              </div>  
          {{ end }}
        </div>
  
        <!-- Content Section -->
        <div class="uk-width-3-4@s">
            <h1 class="uk-article-title">{{ .Title  | markdownify | safeHTML }}</h1>
            {{ with .Params.subtitle }}<h3 class="uk-heading-line"><span>{{.}}</span></h3>{{ end }}
            {{ with .Params.summary }}
                <p class="uk-text-lead">{{ .| markdownify | safeHTML }}</p>
            {{ end }}
            <div>
                {{ .Content }}
            </div>
        </div>
        {{ if isset .Params "citation" | default false }}
            {{ partial "citation.html" . }}
        {{ end}}
      </div>
</article>