<div class="section uk-section uk-padding-remove-vertical uk-margin">
    <div class="banner footer" height="{{ .Site.Params.footerSection.height }}">
        <div class="uk-container">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-1-2@m">
                    {{ with .Site.Params.footerSection }}
                      <h3>{{ .title  | markdownify | safeHTML }}</h3>
                      <p>{{ .content | markdownify | safeHTML }}</p>
                    {{ end }}
                  </div>
              <div class="uk-width-1-2@m">
                {{ if gt (len .Site.Languages) 1 }}
                    <div class="uk-navbar-item">
                        <div class="uk-inline">
                            <button class="uk-button uk-button-default" type="button">
                                {{ with .Site.Language }}
                                    {{ .LanguageName }}
                                {{ else }}
                                    Language
                                {{ end }} 
                                <span uk-icon="icon: chevron-down"></span>
                            </button>
                            <div uk-dropdown="mode: click">
                                <ul class="uk-nav uk-dropdown-nav">
                                    {{ range .Site.Languages }}
                                        {{ $currentPage := . }}
                                        <li>
                                            <a href="{{ $currentPage.Permalink }}" 
                                            hreflang="{{ .Lang }}">
                                            {{ .LanguageName }}
                                            </a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                {{ end }}
              </div>
            </div>
          </div>
          <div class="footer-title uk-text-right">
            <h1>{{ .Site.Title  | markdownify | safeHTML }}</h1>
        </div>
    </div>
</div>
