<div class="section uk-section uk-padding-remove-vertical uk-margin">
    <div class="banner footer">
        <div class="uk-container uk-margin-left-large uk-text-right">
            <h1>{{ .Site.Title }}</h1>
        </div>

        {{ if gt (len .Site.Languages) 1 }}
            <div class="uk-navbar-item">
                <div class="uk-inline">
                    <button class="uk-button uk-button-default" type="button">
                        {{ with .Site.Language }}
                            {{ .LanguageName }}
                        {{ else }}
                            Language
                        {{ end }} 
                        <span uk-icon="icon: chevron-down"></span>
                    </button>
                    <div uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            {{ range .Site.Languages }}
                                {{ $currentPage := . }}
                                <li>
                                    <a href="{{ $currentPage.Permalink }}" 
                                    hreflang="{{ .Lang }}">
                                    {{ .LanguageName }}
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
