<div class="uk-grid uk-child-width-expand@s uk-margin-top" uk-grid>
    <div class="uk-width-expand">
        {{ with .PrevInSection }}
            <a class="uk-button uk-button-default" href="{{ relURL .Permalink }}">
                <span class="uk-margin-small-left" uk-icon="chevron-double-left"></span>
                {{ .Title | markdownify | safeHTML }}
            </a>
        {{ end }}
    </div>
    
    <div class="uk-width-auto">
        {{ with .NextInSection }}
            <a class="uk-button uk-button-default" href="{{ relURL .Permalink }}">
                {{ .Title | markdownify | safeHTML }}
                <span class="uk-margin-small-right" uk-icon="chevron-double-right"></span>
            </a>
        {{ end }}
    </div>
</div>
