{{ define "main" }}
    <article class="uk-article">
        <h1 class="uk-article-title">{{ .Title }}</h1>
        <div class="uk-article-meta">
            {{ with .GetTerms "tags" }}
                <div class="uk-flex uk-flex-wrap uk-flex-right">
                    {{ range . }} 
                        {{ $url := .RelPermalink }}
                        {{ $lastFolder := last 2 (split $url "/") }}
                        {{ $lastFolder := index $lastFolder 0 }}
                        {{ $sect := index .Site.Taxonomies .Section }}
                        {{ $tag := slice (index $sect $lastFolder ) }}
                        <div class="uk-card uk-margin-left uk-margin-bottom">
                            <a href="{{ .RelPermalink }}" class="uk-label uk-label-secondary tags" >
                                {{ .LinkTitle }}
                            </a>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        {{ .Content }}
    </article>
{{ end }}
