{{ define "main" }}
    {{ range .Site.Sections }}
        <div class=" uk-section uk-margin-bottom">
            {{ if ne .Type "about" }}
                <div class="section banner">
                    <div class="uk-container uk-margin-left-large">
                        <a href="{{ .Permalink }}">
                            <h1>{{ .Title }}</h1>
                        </a>
                    </div>
                </div>
            {{ end}}
            {{ if or (eq .Type "blog" ) (eq .Type "post" ) }}
                {{ partial "cards/post-li.html" ( where site.RegularPages "Section" "blog" | first 1 ) }}
            {{ else if eq .Type "about" }}
                {{ partial "cards/image-li.html" . }}
            {{ else }}
                <div class="uk-container uk-container-small">
                    {{ .Summary }}
                </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
