{{ define "main" }}
    {{ range $section := .Site.Sections.ByWeight }}
        {{ if isset .Params "home" }}
            <div class=" uk-section uk-margin-bottom">
                <div class="section banner">
                    <div class="uk-container uk-margin-left-large">
                        <a href="{{ .Permalink }}">
                            <h1>{{ .Title }}</h1>
                        </a>
                    </div>
                </div>
                {{ if eq .Params.home "list" }}
                    {{ partial "cards/post-li.html" ( .Pages | first 1 ) }}
                    <div class="uk-text-right uk-margin-small-top">
                        <a href="{{ .Permalink }}" class="uk-button uk-button-primary">View {{ .Title }}</a>
                    </div>                {{ else if eq .Params.home "thumbnail" }}
                    {{ partial "cards/image-li.html" . }}
                {{ else if eq .Params.home "slider" }}
                    {{ partial "slider.html" . }}
                {{ else }}
                    <div class="uk-container uk-container-small">
                        {{ .Summary }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}
