
<div class=" uk-flex uk-cover-container uk-height-medium banner {{ if .IsHome}} home" uk-parallax="bgy: -200 {{ end }}">
{{ if .IsHome}}
    <div class="uk-text-center uk-margin-auto  uk-margin-auto-vertical">
        <div class="uk-animation-toggle" tabindex="0">
            <img class="uk-animation-stroke" src="{{ $.Site.Params.logo }}" 
                width="350" height="340" alt="" uk-svg="stroke-animation: true">
        </div>
        <h1>{{ .Site.Title }}</h1>
        <p> {{ .Site.Params.subtitle | markdownify }}</p>
    </div>
{{ else }}
    <div class="uk-container uk-container-small uk-margin">
        <h1>{{ .Section }}</h1>
    </div>
{{ end }}
</div>
