
<div class="banner {{ if .IsHome}} uk-flex home" uk-parallax="bgy: -200 {{ end }}">
    {{ if .IsHome}}
        <div class="uk-text-center uk-margin-auto  uk-margin-auto-vertical">
            <div class="uk-animation-toggle" tabindex="0">
                <img class="uk-animation-stroke" src="{{ $.Site.Params.aesthetics.logo }}" 
                    width="350" height="340" alt="" uk-svg="stroke-animation: true">
            </div>
            <h1>{{ .Site.Title }}</h1>
            <h2>{{ .Site.Params.subtitle | markdownify }}</h2>
        </div>
    {{ else }}
        <div class="uk-container uk-container-small banner-top">
            <h1>{{ .Section }}</h1>
        </div>
    {{ end }}
</div>
